{% extends 'base.html' %}
{% import "material/wtf.html" as wtf%}

{% block content %}
    <div class="container">
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.full_name.label}}
            {{form.full_name}}
            {{form.username.label}}
            {{form.username}}
            {{form.email.label}}
            {{form.email}}
            {{form.password.label}}
            {{form.password}}
            {{form.pass_confirm.label}}
            {{form.pass_confirm}}
            {{form.submit(class="btn blue darken-1")}}
        </form>
    </div>
{% endblock %}