body {
    background: #eceff1;
}
* {
    font-size: 16px;
    overflow-x: hidden;
}
.landing {
    background-image: url("../images/landing.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;
    width: 100%
}
.card {
    height: 300px;
    width: 300px;
}
.card-image {
    height: 100px;
}
.main {
    width: 100%;
    margin: 0 auto;
    padding: 10px auto;
}
.px-auto {
    display: flex;
    align-items: center;
    flex-flow: column;
}
.post-card {
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background: white;
    padding: 25px;
    width: 57%;
    text-align: center;
}
.img-container {
    margin: 0 auto;
}